
[*.{c,c++,cc,cginc,compute,cp,cpp,cs,cshtml,cu,cuh,cxx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,htm,html,hxx,inc,inl,ino,ipp,mpp,mq4,mq5,mqh,proto,razor,tpp,usf,ush}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{asax,ascx,aspx,axaml,css,js,jsx,master,paml,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style = space
indent_size = 2
tab_width = 2

[*]

# Microsoft .NET properties
csharp_indent_switch_labels = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async:suggestion
csharp_space_after_semicolon_in_for_statement = false
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_separate_import_directive_groups = true
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_expression = true
resharper_align_multiline_extends_list = true
resharper_align_multline_type_parameter_constrains = true
resharper_align_multline_type_parameter_list = true
resharper_allow_comment_after_lbrace = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_file_scoped_namespace_directive = 0
resharper_blank_lines_around_accessor = 1
resharper_blank_lines_around_single_line_accessor = 1
resharper_blank_lines_around_single_line_invocable = 0
resharper_blank_lines_around_single_line_type = 0
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_case = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_single_line_comment = 1
resharper_csharp_alignment_tab_fill_style = optimal_fill
resharper_csharp_align_multiple_declaration = true
resharper_csharp_blank_lines_around_single_line_invocable = 0
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_extra_spaces = leave_all
resharper_csharp_indent_invocation_pars = outside
resharper_csharp_indent_style = tab
resharper_csharp_indent_type_constraints = false
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 0
resharper_csharp_outdent_commas = true
resharper_csharp_outdent_dots = true
resharper_csharp_place_type_constraints_on_same_line = false
resharper_csharp_stick_comment = false
resharper_csharp_use_indent_from_vs = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = wrap_if_long
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_comma = true
resharper_csharp_wrap_chained_method_calls = chop_always
resharper_csharp_wrap_extends_list_style = chop_always
resharper_csharp_wrap_for_stmt_header_style = chop_always
resharper_csharp_wrap_multiple_declaration_style = chop_always
resharper_csharp_wrap_multiple_type_parameter_constraints_style = chop_always
resharper_csharp_wrap_parameters_style = chop_always
resharper_csharp_wrap_ternary_expr_style = chop_always
resharper_enforce_line_ending_style = true
resharper_force_chop_compound_do_expression = true
resharper_force_chop_compound_if_expression = true
resharper_force_chop_compound_while_expression = true
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_inside_namespace = false
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_indent_switch_labels = false
resharper_int_align = true
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_max_array_initializer_elements_on_line = 1
resharper_max_attribute_length_for_same_line = 1
resharper_max_enum_members_on_line = 1
resharper_max_formal_parameters_on_line = 1
resharper_max_initializer_elements_on_line = 1
resharper_max_invocation_arguments_on_line = 1
resharper_nested_ternary_style = expanded
resharper_new_line_before_finally = false
resharper_outdent_binary_ops = true
resharper_outdent_binary_pattern_ops = true
resharper_place_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = false
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = false
resharper_place_linq_into_on_new_line = false
resharper_place_simple_blocks_on_single_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_place_simple_property_pattern_on_single_line = false
resharper_space_around_lambda_arrow = false
resharper_space_before_fixed_parentheses = false
resharper_space_before_foreach_parentheses = false
resharper_space_before_for_parentheses = false
resharper_space_before_if_parentheses = false
resharper_space_before_lock_parentheses = false
resharper_space_before_switch_parentheses = false
resharper_space_before_using_parentheses = false
resharper_space_before_while_parentheses = false
resharper_space_between_keyword_and_type = false
resharper_space_in_singleline_accessorholder = false
resharper_space_in_singleline_anonymous_method = false
resharper_space_in_singleline_method = false
resharper_space_within_empty_braces = false
resharper_space_within_single_line_array_initializer_braces = false
resharper_wrap_after_dot_in_method_calls = true
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_before_eq = true
resharper_wrap_before_extends_colon = true
resharper_wrap_before_linq_expression = true
resharper_wrap_before_type_parameter_langle = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long
resharper_wrap_linq_expressions = chop_always
resharper_wrap_property_pattern = chop_always
resharper_wrap_verbatim_interpolated_strings = chop_if_long

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
